<%- include ('partials/header') -%>

    <nav class="navbar navbar-dark" style="background-color: #448AFF">
        <div class="container-fluid">
            <a href="/" class="navbar-brand">Medidas Mau<span><img src="img/gato.svg" width="30" alt="un gatito blanco"></span></a>
        </div>

    </nav>
    <div class="container">
        <div class="row">
            <!-- FORM-->
            <div class="col-md-4">
                <div class="card m-3">
                    <div class="card-body">
                        <form action="/add" method="POST">
                            <div class="form-group m-2">
                                <label for="peso">Peso (Kg)</label>
                                <input type="text" name="peso" placeholder="peso en kg" class="form-control" required>
                            </div>
                            <div class="form-group m-2">
                                <label for="cintura">Cintura (Cm)</label>
                                <input type="number" name="cintura" placeholder="medida en cm" class="form-control" required>
                            </div>
                            <div class="form-group m-2">
                                <label for="bientre">Vientre (Cm)</label>
                                <input type="number" name="vientre" placeholder="medida en cm" class="form-control" required>
                            </div>
                            <div class="form-group d-grid gap-2">
                                <button type="submit" class="btn btn-primary ">Agregar</button>
                            </div>
                            
                        </form> 
                    </div>
                </div>
            </div>
            <!-- LIST -->
            <div class="col-md-8 my-3">
                <div class="card">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">Peso</th>
                            <th scope="col">Cintura</th>
                            <th scope="col">Vientre</th>
                            <th scope="col" class="text-center">Opciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% for(var medicion of mediciones) { %>
                            <tr>

                                <td><%= medicion.peso %> kg</td>
                                <td><%= medicion.cintura %> Cm</td>
                                <td><%= medicion.vientre %> Cm</td>
                                <td class="p-2 d-flex justify-content-center">
                                    <a class="btn btn-outline-info mx-2"
                                       href="/edit/<%= medicion.id %>">
                                        Editar
                                    </a>
                                    <a class="btn btn-outline-danger mx-2"
                                       href="/delete/<%= medicion.id %>">
                                        Borrar
                                    </a>
                                </td>
                            </tr>
                        <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
<%- include ('partials/footer') -%>
